<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="page-form1" class="list">
      <label class="item item-input" id="page-input1">
        <span class="input-label">login</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page-input2">
        <span class="input-label">paswoord</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="home" id="page-button1" class="button button-positive  button-block">Login</a>
  </ion-content>
</ion-view>kjjj